{name, "ewgi"}.
{description, "Erlang web gateway interface: a standard interface between Erlang web servers and applications"}.
{homepage, "https://github.com/skarab/ewgi"}.
{url, {git, "https://github.com/nox/ewgi.git", {branch, "rebarify"}}}.
{authors, ["Filippo Pacini <filippo.pacini@gmail.com>",
           "Hunter Morris <huntermorris@gmail.com>"]}.
{license, "MIT", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
